#root {
  width: 100%;
  margin: 0 auto;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.container{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 3px 3px;
}
.header{
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 8px 8px; 
}
.section {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 8px 8px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:5px;
}
.tabsDynamic{
  display:flex ;
  justify-content : center;
}
.DynamicTabs{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: aqua;
}
.tab{
    background-color: red;
}
/* .content{
    background-color: red;
} */
.ukladProduktu{
  display: flex;
  flex-direction: column;
}
.line{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  border-radius: 6px;
  box-shadow: 4px 4px 20px pink;
  width: 95%;
  margin: 8px 4px;
}
.like{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 4px;
  font-size: 15px;
}
.right {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-height: 80%;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
margin: 5px 5px;
}


.lineSeparating{
  color:dimgrey;
  width: 80%;
  margin: 10% 10%;

}
.lineProdukt{
  display: flex;}
.productLeft{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.product{
width: 100%;
}
.foto {
  max-width: 25%;
  max-height: 80vh;
  margin: 2px;
}

.profileName, .nickName {
  font-size: 13px;
}
.mail{
  font-size: 11px;
}
.profile{
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
  border-radius: 7px;
  width: 130px;
}
.sectorProduct{
  display: flex;
  flex-wrap: wrap;
  margin: auto ;
}
.outcome{
  font-size: 12px;
}
.theme{
  display: flex;
  justify-content: end;
}
.comment{
  display:flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid grey;
}
.komentarze{
  margin-left: 5px;
}
.p{
  color: grey;
  margin-left: 10px;
}
.h4 {
  margin-left: 5px;
}






